@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* 
<div class="card">
                    <div class="card-image"></div>
                      <div class="card-description">
                        <p class="text-title"> Card Title</p>
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                    */


*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: rgb(0, 0, 0);
}

body
{
    background: rgb(255, 255, 255);
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    border-bottom: .1rem solid rgb(131, 131, 131) ;
    position: sticky;
    top: 0;
    background: rgb(228, 228, 228);
    z-index: 10;
    box-shadow: 0rem .5rem .5rem rgba(73, 73, 73, 0.568);
    
}

header .logo-principal a
{
    font-size: 3.2rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-shadow: .2rem 0rem red, -.2rem 0rem cyan;
    animation: error 0.5s linear infinite ;
}

@keyframes error
{
    0%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan; 
    }

    20%
    {
        text-shadow: 0rem -.2rem red, -.2rem 0rem cyan, 0rem .2rem rgb(217, 255, 0); 
    }

    30%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan, 0rem .2rem rgb(217, 255, 0); 
    }

    50%
    {
        text-shadow: -.2rem 0rem red, .2rem 0rem cyan; 
    }

    70%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan, 0rem -.2rem rgb(217, 255, 0); 
    }

    100%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan; 
    }
}

header nav
{
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
  
}

header nav button
{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.8rem;
    padding: .5rem;
    transition: .3s;
    cursor: pointer;
}

header nav button:hover
{
    color: #59066b;
}

header.redencao nav button.selecionado
{
    border-bottom: .4rem solid #04152E;
    padding: .2rem;
}

header.acarape nav button.selecionado
{
    border-bottom: .4rem solid #042e2c;
    padding: .2rem;
}

header.sfconde nav button.selecionado
{
    border-bottom: .4rem solid #26042e;
    padding: .2rem;
}

header .img-box
{
    width: 15rem;
    height: 5rem;
    background: transparent;
    object-fit: cover;
}

header .img-box img
{
    width: 14.5rem;
    height: 4.5rem;
}

header nav .botao-menu
{
    display: none;
}


.container
{
    width: 100%;
    padding: 2rem;
}

.passarelascroll
{
   overflow-x: auto; 
   padding: 2rem; 

}

.passarela
{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   gap: 5rem;
 
}


   

   
 /* From uiverse.io by @alexruix */
.card {
  width: 20rem;
  height: 25.4rem;
  border-radius: 1em;
  
  background: #bbccf1 ;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
  border-radius: 1rem;
 }
 
 .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #0a3394 url("https://painelcovid19.github.io/images/profTales.jpeg");
  background-size: cover;
  background-position: center center;
  z-index: 2;
  transition: 0.5s;
  border-radius: 1rem;
 }
 
 .card-info {
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 1;
  transform: translateY(0%);
  transition: 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 
 /*Text*/
 .text-title {
  font-size: 2.4rem;
  font-weight: 500;
 }
 
 .text-body {
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 5px 0 15px 0;
 }
 
 /*Button*/
 .card-button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #ff0022;
  color: white;
  font-weight: bold;
  transition: 0.4s ease;
 }
 
 /*Image*/
 .card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ee9ca7;
  background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
  border-radius: 1rem;
 }
 
 /*Hover*/
 .card:hover {
  transform: translateY(5%);
 }
 
 .card:hover:before {
  opacity: 1;
 }
 
 .card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
 }
 
 .card-button:hover {
  background: rgba(218, 77, 77, 0.4);
  color: #f5f5f5;
 }  

   .sobreoprojeto
   {
    width: 100%;
    padding: 2rem;
   }
   
   .falatorios
   {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
   }
   .textof 
   {
    width: 60%;
   }
   .textof h2
   {
    
    font-size: 3.2rem;
   }

   .textof p
   {
    
    font-size: 2rem;
   }

  .imagemdaunilab
  {
    width: 50rem;
  }

  .imagemdaunilab img
  {
    width: 100%;
    object-fit: cover;
  }

  .asfontes
  {
    margin-top: 5rem;
  }
  .asfontes h3
  {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .asfontes .linkfontes
  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

  }

  .asfontes .linkfontes a
  {
    font-size: 2.4rem;
    text-decoration: none;
    padding: 1rem;
    transition: ease .3s;
    position: relative;
    z-index: 1;
  }

  .asfontes .linkfontes a::before
  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: black;
    width: 100%;
    height: .2rem;
    z-index: -1;

    transition: ease .3s;
  }

  .asfontes .linkfontes a:hover
  {
    color: white;
  }

  .asfontes .linkfontes a:hover::before 
  {
    height: 100%;
  }



  footer 
  {
    padding-block: 3rem;
    background-color: #04152E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
  }

  footer a
  {
    display: block;
    font-size: 2.4rem;
    text-decoration: none;
    color: #f5f5f5;
    transition: .4s;
  }

  footer a ion-icon
  {
    transform: translateY(.2rem);
    color: #f5f5f5;
    font-size: 2.4rem;
    margin-right: .5rem;
    transition: .4s;
  }

  footer a:hover
  {
    color: #808080;
  }

  footer a:hover ion-icon
  {
    animation: shake .7s linear infinite;
    animation-delay: .3s;
    transition: all .4s;
  }

  @keyframes shake
  {
    0%
    {
        
        transform: translateX(0rem) translateY(.2rem);
        
    }

    50%
    {
        transform: translateX(-.2rem) translateY(.2rem);
       
    }

    100%
    {
        transform: translateX(0rem) translateY(.2rem);
       
    }
  }

  footer .orgaos
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    gap: 2rem;
    
    margin-top: 5rem;
    padding-bottom: 1rem;
}

footer .orgaos .img-box-orgao
{
    width: 13.5rem;
    height: 5.5rem;
    object-fit: cover;
   
}

footer .orgaos .img-box-orgao img
{
    width: 13.5rem;
    height: 5.5rem;
}

footer .orgaos .img-box-orgao img:nth-child(1)
{
    width: 14.5rem;
    height: 4.5rem;
}