@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* 
<div class="card">
                    <div class="card-image"></div>
                      <div class="card-description">
                        <p class="text-title"> Card Title</p>
                        <p class="text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                      </div>
                    </div>
                    */


*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: rgb(0, 0, 0);
}

body
{
    background: rgb(255, 255, 255);
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    border-bottom: .1rem solid rgb(131, 131, 131) ;
    position: sticky;
    top: 0;
    background: rgb(228, 228, 228);
    z-index: 10;
    box-shadow: 0rem .5rem .5rem rgba(73, 73, 73, 0.568);
    
}

header .logo-principal a
{
    font-size: 3.2rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-shadow: .2rem 0rem red, -.2rem 0rem cyan;
    animation: error 0.5s linear infinite ;
}

@keyframes error
{
    0%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan; 
    }

    20%
    {
        text-shadow: 0rem -.2rem red, -.2rem 0rem cyan, 0rem .2rem rgb(217, 255, 0); 
    }

    30%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan, 0rem .2rem rgb(217, 255, 0); 
    }

    50%
    {
        text-shadow: -.2rem 0rem red, .2rem 0rem cyan; 
    }

    70%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan, 0rem -.2rem rgb(217, 255, 0); 
    }

    100%
    {
        text-shadow: .2rem 0rem red, -.2rem 0rem cyan; 
    }
}

header nav
{
    display: flex;
    justify-content: space-between;
    gap: 2.8rem;
  
}

header nav button
{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.8rem;
    padding: .5rem;
    transition: .3s;
    cursor: pointer;
}

header nav button:hover
{
    color: #59066b;
}

header.redencao nav button.selecionado
{
    border-bottom: .4rem solid #04152E;
    padding: .2rem;
}

header.acarape nav button.selecionado
{
    border-bottom: .4rem solid #042e2c;
    padding: .2rem;
}

header.sfconde nav button.selecionado
{
    border-bottom: .4rem solid #26042e;
    padding: .2rem;
}

header .img-box
{
    width: 15rem;
    height: 5rem;
    background: transparent;
    object-fit: cover;
}

header .img-box img
{
    width: 14.5rem;
    height: 4.5rem;
}

header nav .botao-menu
{
    display: none;
}


.container
{
    width: 100%;
    padding: 2rem;
}

.passarelascroll
{
   overflow-x: auto; 
}

.passarela
{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   gap: 2rem;
 
}




.card 
    {
    
    height: 30rem;
    width: 30rem;
    background-color: black;
    cursor: pointer;
   }
   
    /*Image*/
   .card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394 url("https://painelcovid19.github.io/images/profTales.jpeg");
    background-position: center center;
    background-size: cover;
   
   }
   
   /*Description */
   .card-description {

    display: flex;
    position: absolute;
    gap: 1em;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height: 80%;
    transform: translateY(60%);
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;

   }
   
   /*Text*/
   .text-title {
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
   }
   
   .text-body {
    color: black;
    font-size: 1rem;
    line-height: 150%;
   }
   
   
   /* Hover states */
   
   .card:hover .card-description {
    transform: translateY(0%);
   }

  

   .sobreoprojeto
   {
    width: 100%;
    padding: 2rem;
   }
   
   .falatorios
   {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
   }
   .textof 
   {
    width: 60%;
   }
   .textof h2
   {
    
    font-size: 3.2rem;
   }

   .textof p
   {
    
    font-size: 2rem;
   }

  .imagemdaunilab
  {
    width: 50rem;
  }

  .imagemdaunilab img
  {
    width: 100%;
    object-fit: cover;
  }

  .asfontes
  {
    margin-top: 5rem;
  }
  .asfontes h3
  {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .asfontes .linkfontes
  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

  }

  .asfontes .linkfontes a
  {
    font-size: 2.4rem;
    text-decoration: none;
    padding: 1rem;
    transition: ease .3s;
    position: relative;
    z-index: 1;
  }

  .asfontes .linkfontes a::before
  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: black;
    width: 100%;
    height: .2rem;
    z-index: -1;

    transition: ease .3s;
  }

  .asfontes .linkfontes a:hover
  {
    color: white;
  }

  .asfontes .linkfontes a:hover::before 
  {
    height: 100%;
  }



  footer 
  {
    padding-block: 3rem;
    background-color: #04152E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
  }

  footer a
  {
    display: block;
    font-size: 2.4rem;
    text-decoration: none;
    color: #f5f5f5;
    transition: .4s;
  }

  footer a ion-icon
  {
    transform: translateY(.2rem);
    color: #f5f5f5;
    font-size: 2.4rem;
    margin-right: .5rem;
    transition: .4s;
  }

  footer a:hover
  {
    color: #808080;
  }

  footer a:hover ion-icon
  {
    animation: shake .7s linear infinite;
    animation-delay: .3s;
    transition: all .4s;
  }

  @keyframes shake
  {
    0%
    {
        
        transform: translateX(0rem) translateY(.2rem);
        
    }

    50%
    {
        transform: translateX(-.2rem) translateY(.2rem);
       
    }

    100%
    {
        transform: translateX(0rem) translateY(.2rem);
       
    }
  }

  footer .orgaos
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    gap: 2rem;
    
    margin-top: 5rem;
    padding-bottom: 1rem;
}

footer .orgaos .img-box-orgao
{
    width: 13.5rem;
    height: 5.5rem;
    object-fit: cover;
   
}

footer .orgaos .img-box-orgao img
{
    width: 13.5rem;
    height: 5.5rem;
}

footer .orgaos .img-box-orgao img:nth-child(1)
{
    width: 14.5rem;
    height: 4.5rem;
}